@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body{
    margin: 0;
    background-color: #1E1E1E;
    font-family: 'PT Mono', monospace;
}
hr {
    margin: 30px 0;
}
h1 {
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 40px;
    margin: 0;
}
ul{
    padding: 0;
}
ul>li, p{
    font-size: 30px;
}
.presentation{
    display: flex;
    height: 100vh;
    color: white;
    flex-direction: column;
}
.mt-100 {
    margin-top: 100px;
}
.regular-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
}
.regular-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* Profile */
.profile{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.profile>div{
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
}
.profile .pic, .profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid white;
}
/* Slides */
.slide{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}
.buttons{
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end
}
.buttons button{
    border: none;
    border-radius: 10px;
    padding: 8px 5px
}
.buttons button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.buttons button{
    margin-right: 10px;
}

/**
    Containers
**/
.rag-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.coluna-flex {
    display: flex;
    flex-direction: column;
}
.linha-flex{
    display: flex;
    width: 100%;
}
.space-around {
    justify-content: space-around;
}
.flex-align-center {
    align-items: center;
}
.padronized-padding div{
    padding: 0 50px;
}
/**
    Itens
**/
.flex-3 {
    flex: 3
}
.flex-2 {
    flex: 2
}
/**
    YAML
**/
.yaml {
    font-size: 30px;
}
.yaml div{
    margin-left: 20px;
}
.yaml .key {
    color: #5586AF;
}
.yaml .value {
    color: #9A7464;
    text-decoration: none;
}
.yaml a.value:hover {
    cursor: pointer;
    opacity: 0.8;
}
.yaml .comon-structure {
    color: white;
}

@media(max-width: 768px) {
    .profile .pic{
        width: 200px;
        height: 200px;
        margin-top: 30px;
    }
    .yaml {
        font-size: 24px;
        margin-bottom: 30px;
        padding-left: 20px;
    }
    hr {
        display: none;
    }
}

/**
    Lista
**/
ul {
    padding-left: 50px;
}

/**
    Helpers
**/
.width-100 {
    width: 100%;
}
.width-50 {
    width: 50%;
}

/**
    Rag
**/
.rag-container textarea {
    border-radius: 5px;
    border: none;
    margin-left: 50px;
    font-size: 16px;
    padding: 20px;
}